---
layout: collection-item
title: Mentor Me
enable-header: true
enable-banner: false
mentor-airtable: shrtoBuvOZPuaCh8Q
student-airtable: shriWuvxYVnlCgKgs
---
<p>S3 is in the process of expanding their one-on-one mentoring program called Mentor Me. Mentor Me aims to match students with professionals that have agreed to give their time to offer guidance and insight into their chosen field. The mentor sessions are facilitated through email, phone meetings, and in some cases in-person, which is typically during the SIGGRAPH or SIGGRAPH Asia conferences when the community comes together. S3 hopes that these mentorships can turn into long lasting professional connections for our members. To date, S3 has been able to match Student Volunteers (SVs) from the SIGGRAPH Conferences but is planning to expand to all interested ACM SIGGRAPH student members during the year.</p>
<!-- <a class="button expand" href="https://docs.google.com/forms/d/e/1FAIpQLSd7_lLJ_oBiFILQej85A554EhBLcSwDb65L5zPcKU3Kn4OGEw/viewform">Student Application Form</a>
<a class="button expand" href="https://docs.google.com/forms/d/e/1FAIpQLSf4dVnUNb8CLknIPc2c3MWIiILD-lbc1k8OEKWx-fchhu7V1w/viewform">Mentor Application Form</a> -->
<hr>
<!-- tabs -->
<div class="row secondary-tabs-row">
    <div class="small-9 medium-8 large-6 small-centered columns">
      <ul class="tabs" data-tabs id="about-tabs">
        <li class="tabs-title tabs-first is-active"><a href="#students-panel">Students</a></li>
        <li class="tabs-title tabs-second"><a href="#mentors-panel" aria-selected="true">Mentors</a></li>
      </ul>
    </div>
</div>
<div class="row head-spacing foot-spacing">
  <div class="tabs-content small-12  large-push-1 large-10 columns" data-tabs-content="about-tabs">
    <div class="tabs-panel is-active" id="students-panel">
      {% include mentorme-student.html %}
    </div>
    <div class="tabs-panel" id="mentors-panel">
      {% include mentorme-mentor.html %}
    </div>
  </div>
</div>