---
layout: collection-item
title: Mentor Me
enable-header: true
enable-banner: false
mentor-airtable: shr7ieHcTZNQF9xCV
student-airtable: shrv1kaN85covVMxx
mentorme-tabs: true
mentorme-tab-student: false
mentorme-tab-mentor: true
---
<p>MentorMe aims to match students and emerging professionals with less than 3 years experience with
  industry professionals that have agreed to give their time to offer guidance and insight into their chosen
  field. The mentor sessions are facilitated through email, phone meetings, and in some cases in-person,
  which is typically during the SIGGRAPH or SIGGRAPH Asia conferences when the community comes
  together. S3 hopes that these mentorships can turn into long lasting professional connections for our
  members. To date, S3 has been able to match Student Volunteers (SVs) from the SIGGRAPH Conferences
  but is planning to expand to all interested ACM SIGGRAPH student members during the year.</p>
<p>Mentors and mentees will be paired during a three month long cohort to conduct career path or
  professional discussions. All meeting requests are coordinated directly between mentors and mentees.
  We hope that mentors and mentees can meet at least one or two times per month for approximately 1
  hour total per month.</p>
  <hr>
  <!-- <p>The MentorMe program will kick off it's next cohort in
  Summer 2019.</p> -->
<!-- <a class="button expand" href="https://docs.google.com/forms/d/e/1FAIpQLSd7_lLJ_oBiFILQej85A554EhBLcSwDb65L5zPcKU3Kn4OGEw/viewform">Student Application Form</a>
<a class="button expand" href="https://docs.google.com/forms/d/e/1FAIpQLSf4dVnUNb8CLknIPc2c3MWIiILD-lbc1k8OEKWx-fchhu7V1w/viewform">Mentor Application Form</a> -->

{% if page.mentorme-tabs == true %}
  {% include mentorme-tabs.html student-tab=page.mentorme-tab-student mentor-tab=page.mentorme-tab-mentor  %}
{% endif%}