---
layout: collection-item
title: S3 Resume and Reel Review (S3R3)
enable-header: true
close-date: March 12, 2021
signup-tabs: false
onsite-signup-form: ''
onlinestudent-signup-form: https://airtable.com/shrJg39aia05qrxuy
reviewer-signup-form: ''
onsite-signup-tab: ''
onlinestudent-signup-tab: 2021 Online Winter Registration
reviewer-signup-tab: Reviewers – S2020 ASIA Registration
onsite-tab-enabled: false
onlinestudent-tab-enabled: false
reviewer-tab-enabled: false
onsite-tab-active: false
onlinestudent-tab-active: false
reviewer-tab-active: false
tab-size: ''

---
<p>S3R3 is the S3 Resume and Reel Review program where students and emerging professionals with less than 3 years’ experience have their resume or reel reviewed by industry professionals. This is conducted either virtually or in-person at the SIGGRAPH and SIGGRAPH Asia Conferences in 20-minute sessions. Reviewers assess students’ work and offer tips to improve the chances of finding work within the computer graphics industry. Students are matched to industry professionals based on their desired work field and job skills and provide their resume and/or reel for review and expert advice. S3 provides four S3R3 sessions throughout the year during the Winter (virtual), Spring (virtual), Summer (virtual for SIGGRAPH 2020), and Fall (virtual for SIGGRAPH Asia 2020). Some example categories for students to choose from to have their work/resumes reviewed are not limited to but include the following:</p>

<ul>
    <li>Art/Animation (experience in modeling, texturing, compositing, animation, etc.)</li>
    <li>Production/Design (experience brainstorming ideas and transforming creative vision into reality)</li>
    <li>Technical Art (experience in hybrid/ equal parts programming and art: rigging, scripting, shader
      writing, etc.)</li>
    <li>Technical Development (experience in strictly technical aspects such as programming,
      rendering, robotics, engineering, etc.)</li>
    <li>Management (experience in producing, production assistant coordinating production and
      managerial aspects)</li>
</ul>
<hr>
{% if page.signup-tabs == true %}
<h2>Sign-ups open!</h2>
  {%- capture onlinestudent-signup-form -%}
  {{- page.onlinestudent-signup-form -}}
  {%- endcapture -%}
  {%- capture onsite-signup-form -%}
  {{- page.onsite-signup-form -}}
  {%- endcapture -%}
  {%- capture reviewer-signup-form -%}
  {{- page.reviewer-signup-form -}}
  {%- endcapture -%}
  {%- capture onlinestudent-signup-tab -%}
  {{- page.onlinestudent-signup-tab -}}
  {%- endcapture -%}
  {%- capture reviewer-signup-tab -%}
  {{- page.reviewer-signup-tab -}}
  {%- endcapture -%}
  {%- capture onsite-signup-tab -%}
  {{- page.onsite-signup-tab -}}
  {%- endcapture -%}
  {%- capture onsite-tab-enabled -%}
  {{- page.onsite-tab-enabled -}}
  {%- endcapture -%}
  {%- capture onlinestudent-tab-enabled -%}
  {{- page.onlinestudent-tab-enabled -}}
  {%- endcapture -%}
  {%- capture reviewer-tab-enabled -%}
  {{- page.reviewer-tab-enabled -}}
  {%- endcapture -%}
  {%- capture onsite-tab-active -%}
  {{- page.onsite-tab-active -}}
  {%- endcapture -%}
  {%- capture onlinestudent-tab-active -%}
  {{- page.onlinestudent-tab-active -}}
  {%- endcapture -%}
  {%- capture reviewer-tab-active -%}
  {{- page.reviewer-tab-active -}}
  {%- endcapture -%}
  {%- capture tab-size -%}
  {{- page.tab-size -}}
  {%- endcapture -%}
  {%- include s3r3-tabs.html tab-size=tab-size reviewer-tab-active=reviewer-tab-active onsite-tab-active=onsite-tab-active onlinestudent-tab-active=onlinestudent-tab-active onlinestudent-tab-enabled=onlinestudent-tab-enabled reviewer-tab-enabled=reviewer-tab-enabled onsite-tab-enabled=onsite-tab-enabled onsite-tab=onsite-signup-tab reviewer-tab=reviewer-signup-tab onlinestudent-tab=onlinestudent-signup-tab onlinestudent-signup=onlinestudent-signup-form onsite-signup=onsite-signup-form reviewer-signup=reviewer-signup-form -%}
{% else %}
  {% endif%}

  <div class="row">
    <div class="small-12 medium-push-3 medium-6 large-push-3 large-6 columns">

      {% assign events = site.events | reverse | where: "event-type", "s3r3" %}
      {% for event in events %}
        {% if event.enable-featured-banner == true %}
          {% capture featured_title %}{{event.title}}{% endcapture %}
          {% capture featured_text %}{{event.description}}{% endcapture %}
          {% capture featured_class %}{{event.class}}{% endcapture %}
          {% capture featured_image %}{{event.card-img-url}}{% endcapture %}
          {% capture featured_url %}{{event.url}}{% endcapture %}
          {% include featured-card.html featured_class=featured_class featured_image=featured_image featured_title=featured_title featured_text=featured_text featured_url=featured_url %}
        {% endif %}
      {% endfor %}
    </div>
  </div>