---
layout: collection-item
title: Webinars
enable-header: true
page-text: S3 offers a series of informative webinars covering advice, tips, and insight
  on everything from careers to technical knowledge. These webinars are conducted
  throughout the year and allow many to benefit from the wisdom of our great speakers
  and mentors. Previous topics included, how to make the most of attending the SIGGRAPH
  Conference and unlocking information in iOS game development, animation, and digital
  media.
show-featured-webinar: true

---
<p>Visit the [Events]({{site.baseurl}}/events) page for a listing of the prior and upcoming Webinars.</p>
{% if page.show-featured-webinar == true %}
<hr>

{% assign events = (site.events | where: 'event-type','webinar' | reverse %}
    <h3>Featured Webinar</h3>
    <div class="row">
    {% for event in events %}
    {% if event.featured == true %}
    {% capture featured_title %}{{event.title}}{% endcapture %}
    {% capture featured_text %}{{event.description}}{% endcapture %}
    {% capture featured_class %}{{event.class}}{% endcapture %}
    {% capture featured_image %}{{event.img-url}}{% endcapture %}
    {% capture featured_url %}{{event.url}}{% endcapture %}
    <div class="small-12 medium-6 medium-push-3">
    {% include featured-card.html featured_class=featured_class featured_image=featured_image featured_title=featured_title featured_text=featured_text featured_url=featured_url %}
    </div>
    {% endif %}
    {% endfor %}
    </div>
{% endif %}