<div class="row">    
		<div class="small-12 columns">
        	<p>We want to hear from you!</p>
			<p>Interested in joining the S3 Committee? Please fill out the application at: <a href="http://www.siggraph.org/participate/volunteer/organization-volunteer-form">SIGGRAPH Organization Volunteer Form</a></p>
 			<p>
 			<strong>S3 Chair: </strong><a href="mailto:s3-chair@siggraph.org" target="_blank">s3-chair@siggraph.org</a><br />
			<strong>S3 Committee: </strong><a href="mailto:s3-committee@siggraph.org" target="_blank">s3-committee@siggraph.org</a>
			</p>
			<p>For more information and inquires on other ACM SIGGRAPH committees and/or the conference, please refer to the general contact website at: <a href="http://www.siggraph.org/contact">http://www.siggraph.org/contact</a></p>
        </div>
</div> 