<!-- FOOTER ROW -->
<div class="row expanded footer">
			<div class="column small-12"><p class="center-align"><a class="button rounded white" href="{{ site.baseurl }}/team/">About the S3 Committee</a></p></div>
			<div class="column small-12"><p class="center-align"><a href="http://www.acm.org/special-interest-groups/volunteer-resources/officers-manual/policy-against-discrimination-and-harassment">ACM Policy Against Discrimination and Harassment for Members and Event Attendees</a></p>
			</div>
			<div class="column small-12"><p class="center-align">Copyright S3 2017 – {{ 'now' | date: "%Y" }}</p></div>

</div>


