<iframe class="airtable-embed" src="https://airtable.com/embed/shrP94MapdoczqckM?backgroundColor=cyan" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
<!-- {% if page.reviewer-signups == true %}
<p><strong>Reviewer sign-ups are open!</strong></p>
{%else %}
<p><strong>Reviewer sign-ups are closed!</strong></p>
{% endif %}
<a class="button expand" href="{{ page.reviewer-signup-form }}">Reviewer Sign-up Form</a>

<p>Thank you for your interest in becoming an SIGGRAPH Student Services (S3) Resume & Reel Review (R3) mentor! S3 helps facilitate mentorship and concentrated career advice opportunities for students both online and onsite during the annual SIGGRAPH Conferences, and our programs are simply not possible without the generosity of industry friends like you!</p>
<p>The S3R3 program is popular with students and we greatly appreciate your interest in volunteering as a reviewer. Each student will be paired with a reviewer that best matches their field of interest. Sessions will be 20 minutes per student per review. We kindly ask that reviewers arrive 10 minutes before your allocated time slot. Students have also been informed to arrive early and bring either a hardcopy or have their material ready on hand.</p>
<p>As we will not be able to provide any travel, housing, or badge assistance, please fill out this form only if you plan to be on location in Vancouver, Canada for the conference. Notification of your time slot will be sent out on 05 August 2018.</p>
<strong>Review Dates:</strong>
<p>Monday, 13 August; 3:00 pm - 5:30 pm PCT<br>
	Tuesday, 14 August; 10:00 am - 1:30 pm PCT<br>
	Wednesday, 15 August; 10:00 am - 1:30 pm PCT</p>
<strong>Review Location:</strong>
<p>Vancouver Convention Center West, Room 104</p> -->
