<!-- tabs -->
<div class="row secondary-tabs-row">
        <div class="small-9 medium-8 large-6 small-centered columns">
          <ul class="tabs" data-tabs id="about-tabs">
            <li class="tabs-title tabs-first is-active"><a href="#students-panel">Students</a></li>
            <li class="tabs-title tabs-second"><a href="#mentors-panel" aria-selected="true">Mentors</a></li>
          </ul>
        </div>
    </div>
    <div class="row head-spacing foot-spacing">
      <div class="tabs-content small-12  large-push-1 large-10 columns" data-tabs-content="about-tabs">
        <div class="tabs-panel is-active" id="students-panel">
          
          {%- if include.student-tab == true -%}
            {%- include mentorme-student.html -%}
          {% else %}
          <p>MentorMe student sign-ups are currently closed.
            {% if include.mentor-tab == true %} <strong>Mentor registration is still open, see tab above.</strong>{% endif %}
          </p>
          {%- endif -%}
        </div>
        <div class="tabs-panel" id="mentors-panel">
          
          {%- if include.mentor-tab == true -%}
            {%- include mentorme-mentor.html -%}
          {% else %}
          <p>Mentor sign-ups are currently closed.</p>
          {%- endif -%}
        </div>
      </div>
    </div>