
<div class="orbit" role="region" aria-label="{{ include.label }}" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <div class="orbit-wrapper">
      {% assign slides-size = include.slides | size %}
      {% if slides-size > 1 %}
      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>
      {% endif %}
      <ul class="orbit-container">

      {% for slide in include.slides %}
        <li class="is-active orbit-slide">
          {% if slide.banner-img-url == empty or slide.banner-img-url == false or slide.banner-img-url == '' slide.banner-img-url == null %}
          <div>
            <h3 class="text-center"></h3><a href="{{ site.baseurl }}{{ slide.url }}">{{ slide.title }}</a></h3>
            <p class="text-center">{{ slide.description}}</p>
            <a href="{{ slide.url }}" class="small button call-to-action-btn animated-bg">See more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <h3 class="text-center">This Orbit slider does not use animations.</h3>
          </div>
          {% else %}
          <figure class="orbit-figure">
            <a class="" href="{{ site.baseurl }}{{ slide.url }}"><img class="orbit-image" src="{{ site.baseurl }}/assets/img/{{ slide.banner-img-url }}" alt="slide image for {{ slide.title }}"></a>
            <!-- <figcaption class="orbit-caption"></a>{{ slide.banner-caption }}</figcaption> -->
          </figure>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>