<svg class="center" id="pathways-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 66.47152">
  <title>Pathways</title>
  <g>
    <polygon points="13.1 0.5 19.4 11.412 6.8 11.412 13.1 0.5" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="25.7 0.5 32 11.412 19.4 11.412 25.7 0.5" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="19.4 11.412 13.1 0.5 25.7 0.5 19.4 11.412" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="38.3 0.5 44.6 11.412 32 11.412 38.3 0.5" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="32 11.412 25.7 0.5 38.3 0.5 32 11.412" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="44.6 11.412 38.3 0.5 50.9 0.5 44.6 11.412" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="50.9 0.5 57.2 11.412 44.6 11.412 50.9 0.5" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="13.1 44.148 6.8 33.236 19.4 33.236 13.1 44.148" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="57.2 11.412 50.9 0.5 63.5 0.5 57.2 11.412" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="6.8 11.412 13.1 22.324 0.5 22.324 6.8 11.412" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="19.4 11.412 25.7 22.324 13.1 22.324 19.4 11.412" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="13.1 22.324 6.8 11.412 19.4 11.412 13.1 22.324" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="32 11.412 38.3 22.324 25.7 22.324 32 11.412" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="25.7 22.324 19.4 11.412 32 11.412 25.7 22.324" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="38.3 22.324 32 11.412 44.6 11.412 38.3 22.324" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="44.6 11.412 50.9 22.324 38.3 22.324 44.6 11.412" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="50.9 22.324 44.6 11.412 57.2 11.412 50.9 22.324" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="13.1 22.324 19.4 33.236 6.8 33.236 13.1 22.324" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="25.7 22.324 32 33.236 19.4 33.236 25.7 22.324" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="19.4 33.236 13.1 22.324 25.7 22.324 19.4 33.236" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="38.3 22.324 44.6 33.236 32 33.236 38.3 22.324" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="32 33.236 25.7 22.324 38.3 22.324 32 33.236" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="50.9 22.324 57.2 33.236 44.6 33.236 50.9 22.324" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="57.2 33.236 50.9 22.324 63.5 22.324 57.2 33.236" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="6.8 33.236 13.1 44.148 0.5 44.148 6.8 33.236" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="19.4 33.236 25.7 44.148 13.1 44.148 19.4 33.236" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="44.6 33.236 50.9 44.148 38.3 44.148 44.6 33.236" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="50.9 44.148 44.6 33.236 57.2 33.236 50.9 44.148" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="13.1 44.148 19.4 55.06 6.8 55.06 13.1 44.148" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="44.6 33.236 38.3 22.324 50.9 22.324 44.6 33.236" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="25.7 44.148 32 55.06 19.4 55.06 25.7 44.148" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="19.4 55.06 13.1 44.148 25.7 44.148 19.4 55.06" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="38.3 44.148 44.6 55.06 32 55.06 38.3 44.148" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="44.6 55.06 38.3 44.148 50.9 44.148 44.6 55.06" style="stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="50.9 44.148 57.2 55.06 44.6 55.06 50.9 44.148" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="32 33.236 38.3 44.148 25.7 44.148 32 33.236" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="25.7 44.148 19.4 33.236 32 33.236 25.7 44.148" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="38.3 44.148 32 33.236 44.6 33.236 38.3 44.148" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="57.2 55.06 50.9 44.148 63.5 44.148 57.2 55.06" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="6.8 55.06 13.1 65.972 0.5 65.972 6.8 55.06" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="19.4 55.06 25.7 65.972 13.1 65.972 19.4 55.06" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="13.1 65.972 6.8 55.06 19.4 55.06 13.1 65.972" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="32 55.06 38.3 65.972 25.7 65.972 32 55.06" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="25.7 65.972 19.4 55.06 32 55.06 25.7 65.972" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="38.3 65.972 32 55.06 44.6 55.06 38.3 65.972" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="44.6 55.06 50.9 65.972 38.3 65.972 44.6 55.06" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="50.9 65.972 44.6 55.06 57.2 55.06 50.9 65.972" style="fill: #f2f2f2;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
    <polygon points="32 55.06 25.7 44.148 38.3 44.148 32 55.06" style="fill: #fff;stroke: #f2f2f2;stroke-linecap: round;stroke-linejoin: round"/>
  </g>
</svg>