
			<!-- <div class="callout text-center">Student review sign-ups open until: {{ page.close-date }}
			<a class="button expand" href="{{ page.student-signup-form }}">Student Sign-up Form</a>
			</div> -->
			
			<p>We are quickly approaching SIGGRAPH 2018 and SIGGRAPH Student Services (S3) is happy to announce the opening for reservations for the S3 Resume and Reel Review (S3R3) sessions at this year's conference in Vancouver, Canada.</p>
			<h3>S3R3 Time & Location</h3>
			<p>
			Monday, 13 August; 3:00 pm - 5:30 pm PCT<br>
			Tuesday, 14 August; 10:00 am - 1:30 pm PCT<br>
			Wednesday, 15 August; 10:00 am - 1:30 pm PCT<br>
			Location: Vancouver Convention Center West, Room 104<br>
			</p>
			<h3>How do I sign up?</h3>
			<p>To sign up, please go to: <a href="https://www.supersaas.com/schedule/ACMS3/S3R3_2018">https://www.supersaas.com/schedule/ACMS3/S3R3_2018</a></p>
			<p>If you have not used the SuperSaaS system before, you will need to create a login with the system to select your desired time. Don't worry, this is a free service! Once you are logged in, click on the "WEEK" tab if you are not already in the calendar view. Click on the time slot you prefer and reserve your spot by clicking "New Reservation" in the pop up window. Follow the prompt in the pop up window and click "Create Reservation" and you will be all set! Reservations are first-come, first-served.</p>
			
			<h3>What do I need to bring?</h3>

			<p>Please bring a laptop or media device to show your work (if you're showing digital reels) and note-taking materials. We CANNOT provide laptops and DO NOT guarantee access to internet or chargers, so please bring your charged personal device to show your review and ensure files are offline (or in hard-copy).</p>
			
			<h3>Important Notes:</h3>
			<ul>
				<li>Arrive 10 minutes early for your review. You will have 20 minutes with your reviewer. If you are over 10 minutes late within your 20 minute window or do not show up, we will skip over your review. As we have limited time, there will be no rescheduling.</li>
				<li>There will be no eating/drinking and all beverages have to be closed bottled.</li>
				<li>If for any reason you will be unable to make the portfolio after you have signed up and received confirmation for the spot, inform us ASAP so we can try to reschedule you and open your spot to a student on the waitlist.</li>
				<li>If you have a disability and for any reason need any special assistance for your review, please let us know before the conference and while not guaranteed, we will do our best to provide assistance.</li>
			</ul>
			
			<p>Our reviewers are quite knowledgeable about the industry and provide valuable information with the intent of their feedback helping you move closer to your dream job. They may, at their discretion, share their contact info with you, but if they choose not to, please be understanding. S3R3 Reviewers are people who genuinely care to help you. Enjoy your time with them, and enjoy your week at SIGGRAPH!</p>

			<strong>Not yet an ACM SIGGRAPH Student Member? You can sign up here: <a href="http://www.siggraph.org/membership">http://www.siggraph.org/membership</a></strong>
