<nav class="top-bar-right" id="responsive-menu" role="menubar">
  <div class="show-for-medium-only">
    <ul class="menu align-center">
    <li class=""><a aria-label="Twitter" href="http://twitter.com/siggraphs3"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class=""><a aria-label="Facebook" href="http://facebook.com/https://www.facebook.com/S3-ACM-SIGGRAPH-Student-Services-113401685341913/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class=""><a aria-label="Email S3" href="mailto:s3@siggraph.org"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <ul class="drilldown menu vertical medium-horizontal align-right align-center-medium" data-responsive-menu="drilldown medium-dropdown" data-dropdown-menu data-drilldown-menu>
      {% for item in site.data.navbar %}
      {% if item.url == page.dir %}
      {% assign class = "active" %}
      {% else %}
      {% assign class = "normal" %}
      {% endif %}
      {% assign sub-items = item.subfolderitems | size %}
      {% if item.url contains '://' %}
      {% assign url = item.url %}
      {% else %}
      {% capture url %}{{ item.url | relative_url }}{% endcapture %}
      {% endif %}
      
      {% if sub-items > 0  %}

      <li class="mega-menu dropdown">
        <a data-toggle="mega-menu-{{ item.name | slugify }}" class="{{ class }}" {% unless item.url_active == false %}href="{{ url }}"{% endunless %}>{{ item.name }}</a>
        <div class="dropdown-pane bottom center hide-for-small-only" id="mega-menu-{{ item.name | slugify }}" data-dropdown data-force-follow="false" data-position="bottom" data-alignment="center" data-options="closeOnClick:false; hover: true; hoverPane: true; vOffset:35;">
          <div class="row align-middle">
            <div class="columns">
              <ul class="menu horizontal">
                <!-- <li class="hollow button small"><a href="{{ site.baseurl }}{{ url }}">See all</a></li> -->
                <div class="row align-middle">
                {% for entry in item.subfolderitems %}
                  {% if entry.url contains '://' %}
                  {% assign entry_url = entry.url %}
                  {% else %}
                  {% capture entry_url %}{{ entry.url | relative_url }}{% endcapture %}
                  {% endif %}
                      <li class="mega-menu-sub-item-link {% unless forloop.first%}item-border{% endunless %}">
                        <a class="expanded class" href="{{ entry_url }}">{{ entry.name }}</a>
                        {% if entry.description %}
                        <p>{{ entry.description }}</p>
                        {% endif %}
                      </li>
                  
                  
                  
                {% endfor %}
              </div>
              </ul>
            </div>
          </div>
        </div>
      </li>
        {% else %}
        <li><a class=""href="{{ url }}">{{ item.name }}</a></li>
      {% endif %}
      {% endfor %}
      <li class="hide-for-medium-only vertical-divider"><a aria-label="twitter" href="http://twitter.com/siggraphs3"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="hide-for-medium-only"><a aria-label="Facebook" href="http://facebook.com/https://www.facebook.com/S3-ACM-SIGGRAPH-Student-Services-113401685341913/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="hide-for-medium-only"><a aria-label="Email S3" href="mailto:s3@siggraph.org"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
  </ul>


</nav>