<div id="responsive-menu">
        <!-- <div class="nav-container"> -->
          <div class="top-bar-left"></div>
          <div class="top-bar-right">
            <ul class="menu">
              {% for menuitem in site.menuitems %}
              {% if menuitem.url == page.dir %}
                  {% assign class = "active" %}
              {% else %}
                  {% assign class = "normal" %}
              {% endif %}
                  <li class="{{ class }}"><a href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
              {% endfor %}
                  <li class="vertical-divider"><a href="http://twitter.com/siggraphs3"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class=""><a href="http://facebook.com/https://www.facebook.com/S3-ACM-SIGGRAPH-Student-Services-113401685341913/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li class=""><a href="mailto:s3@siggraph.org"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>

          </div>
        <!-- </div> -->
      </div>