---
layout: default
title: About
enable-header: true
---

<div class="contact-us">
  <!-- TOP BAR -->
  {% include top-bar.html %}
  <!-- END TOP BAR -->
  <div class="row quote-row">
    <div class="small-12 columns">
      <h1 class="secondary-page-heading">{{ page.title }}</h1>
    </div>
    <div class="small-12 columns">
      <h2 class="quote">Hello :)</h2>
    </div>
  </div>

</div>
<!-- END HEADER -->


<div class="row">
  <div class="small-12 medium-8 large-6 small-centered columns">
    {% assign sections_array = site.page-sections | where: 'enable-on-page', {{page.title}} %}
    {% include page-section.html sections-array=sections_array %}
  </div>
</div>
  <!-- Tabs -->
<div class="row secondary-tabs-row">
    <div class="small-9 medium-8 large-6 small-centered columns">
      <ul class="tabs" data-tabs id="about-tabs">
        <li class="tabs-title tabs-first is-active"><a href="#team-panel">Team</a></li>
        <li class="tabs-title tabs-second"><a href="#contact-panel" aria-selected="true">Contact Us</a></li>
      </ul>
    </div>
</div>
<div class="row head-spacing foot-spacing">
  <div class="tabs-content small-12  large-push-1 large-10 columns" data-tabs-content="about-tabs">
    
    <div class="tabs-panel is-active" id="team-panel">
      {% include team-profile.html %}
    </div>
    <div class="tabs-panel" id="contact-panel">
    	<div class="row">
	    	<div class="small-12  medium-push-1 medium-10 columns">
	    		{% include contact-panel.html %}
	    	</div>
    	</div>
    
    </div>
  </div>
</div>