//
// Foundation-Jekyll - Custom Theme Styles
//
$main-accent-color:#ff5722;
$heading-color:#333333;
// input.button, .top-bar li.apply-topbar-button a, {
// 	background-color:$main-accent-color;
// }


h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	font-family: 'Roboto Mono', Helvetica, Roboto, Arial, sans-serif;
	color:$heading-color;
}
p {
	font-weight: 300;
	a {
		font-weight: 500;
		color: #ff5722;
		text-decoration: underline;
	}
}
strong {
	font-weight: 500;
}
em {
	font-weight: 500;
}
h1{
	@media #{$medium-only} {
		font-size: 2.25rem;
	}
}
h2{
	@media #{$medium-only} {
		font-size: 1.75rem;
	}
}
h3{
	@media #{$medium-only} {
		font-size: 1.5rem;
	}
	@media #{$small-only} {
		font-size: 1.25rem;
	}
}
.head-spacing {
	padding-top: 10vh;
}
.foot-spacing {
	padding-bottom: 10vh;
}
.course-descr-message {
	color: red;
}
.svg-header #trilattice .a {
	fill: #fff;
	fill-opacity:0;
    transition-duration: 3s;
	&:hover {
		fill-opacity:1;
        transition-duration: 0.2s;
	}
}
// Sticky header
body {
	font-family: "Roboto Mono", Consolas, Monospace;
}
a {
	color:#000;
	&:hover {
		text-decoration: underline;
	}
}
// icon font resizing
i.fa {
    font-size: 0.8em;
}
span.highlight{
	color:#fff;
	font-weight: 400;
	word-wrap: break-word;
	padding: 0 0.5rem;
	text-transform: uppercase;
	background:#000;
	&.black {
		background:#212121;
	}
	&.orange {
		background:#ff5722;
	}
	&.blue {
		background:#2196F3;
	}
	&.green {
		background:#4CAF50;
	}
}
.header {
  padding: 10rem 0;
  background: url('http://placehold.it/2000x500&text=this is a header') center center no-repeat;
  background-size: cover;
}

[data-sticky] {
  width: 100%;
}

.top-bar {
  padding: 2rem;
  transition: padding .25s ease;
}

.is-stuck .top-bar {
  padding: 1rem;
  transition: padding .25s ease;
}
.top-bar .menu>li>a {
  text-transform: uppercase;
}

// Headings
.callout-heading{
	font-weight: 500;
	&:after{
		content:' ';
	    display:block;
	    border: 2px solid $main-accent-color;
	    width: rem-calc(79);
	    margin-top: 0.5rem;
	    @media #{$small-only} {
	    	border: 1px solid $main-accent-color;
	    	width: rem-calc(50);
	    }
	}
	&.black:after{
		content:' ';
	    display:block;
	    border: 2px solid #000000;
	    width: rem-calc(79);
	    margin-top: 0.5rem;
	    @media #{$small-only} {
	    	border: 1px solid #000000;
	    	width: rem-calc(50);
	    }
	}
}
// pathways svg
#pathways-svg, #core-svg {
	margin: 1rem 0 1.5rem;
	text-align: center;
	height: 12rem;
	width:auto;
	@media #{$small-only} {
		height: 8rem;
	}
}
// HEADER TRILATTICE SVG
.svg-header #trilattice .a {
	stroke: #ffffff;
}
.svg-header h1 {
	color:$heading-color;
	font-weight:700;
}

// HEADER TRILATTICE SVG
svg#lattice-paths {
    width: 100%;
    text-align: inherit;
    margin: 0;
    height: auto;
    
	.st0{
		fill:#fff;
	}
	.st1{
		fill:none;
		stroke:#E2E2E2;
		stroke-width:0.5;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:10;
	}
	.st2{fill:none;
		stroke:#FF5722;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:10;
	}

}

// REQUEST INFORMATION ROW
.graph-texture{
	background: url('../../assets/img/graphy.png');
}
.request-callout{
	padding: 3rem 1rem;
	@media #{$small-only} {
    	padding: 1.5rem;
	}
	h2.callout-heading{
		margin-top: 4rem;
		@media #{$small-only} {
	    	margin-top: 1rem;
		}	
	}
	h3{
		margin-top: 3rem;
	    font-style: italic;
	    font-size: 1.5rem;
	    font-weight:100;
	    @media #{$small-only} {
	    	padding-right: 0;
	    	font-size: 1rem;
	    	margin-top: 1rem;
	    }
	}
	.request{
		background: $white;
		padding: 2.5rem 1.5rem;
		@media #{$medium-only} {
			padding: 0.85rem;
		}
		@media #{$small-only} {
			margin-top: 1rem;
		}
		h3 {
			font-style: normal;
			font-weight: 500;
			padding-right: 0;
			margin-top: 0;
			@media #{$medium-only} {
				font-size: 1.25rem;
				margin-top: 0;
			}
		}
		// .request-form{
		// 	background: $white;
		// 	padding: 1rem 1.5rem;
		// 	@media #{$medium-only} {
		// 		padding: 0.85rem;
		// 	}
		// 	@media #{$small-only} {
		// 		margin-top: 1rem;
		// 	}
		// 	h3{
		// 		font-style: normal;
		// 		padding-right: 0;
		// 		margin-top: 0;
		// 		@media #{$medium-only} {
		// 			font-size: 1.25rem;
		// 			margin-top: 0;
		// 		}
		// 	}
		// 	.button{
		// 		margin-bottom: 0;
		// 	}
		// }
	}
}

// PATHS CALLOUT
.paths-callout{
	padding: 0 1rem;
	@media #{$small-only} {
    	padding: 1.5rem;
	}
	background: linear-gradient(33deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)), 
	url('../../assets/img/pathways-bg.jpg') center center/cover no-repeat;

	h2.callout-heading{
		padding-top: 4rem;
		@media #{$small-only} {
    		padding-top: 1rem;
		}
	}
	ul.pagination {
		margin-top: 2rem;
		margin-bottom: 0;
		li{
			display: inline-block !important;
		}
		a{
			// CIRCLES
			@include border-radius(50%);
		    width: 60px;
		    height: 60px;
		    text-align: center;
		    margin-right: 0.5rem;
		    line-height: 3.85;
		    color: $white;
		    @media #{$small-only} {
				width: 50px;
		    	height: 50px;
		    	margin-right: 0;
		    	line-height: 3.125;
		    }
		}
		a.circle-blue{background: $blue;}
		a.circle-red{background: $red;}
		a.circle-green{background: $green;}
		a.circle-black{background: $black;}

	}
	

	.design-your-path{
		padding-bottom: 14vh;
    	padding-top: 35vh;
	    h3{
	    	color: $white;
	    }
	    a.button{
	    	@include border-radius(3px);
	    	background: $white;
	    	color: $black;
	    	padding: 1rem 2rem;
		    font-weight: 700;
		    font-size: 1.5rem;
		    margin-top: 2rem;
		    @media #{$small-only} {
				font-size: 1rem;
		    }
	    }
	}

}

// FACULTY CALLOUT
.row.faculty {
    margin-bottom: 2rem;
    img{
			width: 100%;
			margin-bottom: 2rem;
			-webkit-filter: grayscale(1);
  			filter: grayscale(1);
		}
		h3{
			text-align: left;
			font-size: 2rem;
		}
		.faculty-info {
			border-bottom: 1px solid;
    		padding-bottom: 2rem;
    		font-weight: 500;
		}
}

.faculty-callout{
	padding: 3rem 1rem;
	@media #{$small-only} {
    	padding: 1.5rem;
	}
	h2.callout-heading{
		margin-bottom: 3rem;
	}
	
	a.button{
		font-size: 1.5rem;
    	font-weight: 700;
    	@media #{$medium-only} {
    		font-size: 1.125rem;
		}
		@media #{$small-only} {
    		font-size: 1rem;
		}
	}
}




// SECONDARY PAGES
.quote-row h1{
	@media #{$small-only} {
		margin-top: 1rem;
	}
}
.secondary-page-heading,
.quote{
	text-align: center;
	color: $white;

}
.secondary-page-heading{
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	@media #{$small-only} {
		margin-bottom: 0.5rem;
	}
}
.quote{
	font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    @media #{$medium-only} {
		font-size: 1.25rem;
	}
	@media #{$small-only} {
		font-size: 1rem;
	}
}
.tabs-content{
	border: 0;
	min-height: 60vh;
}
.secondary-tabs-row {
    position: relative;
    //top: -31px;

	ul.tabs{
	text-align: center;
	border: 0;
		li.is-active {

			border-bottom:4px solid #212121;
		}
		li.tabs-first a{
			background: #fff;
			color:#212121;
			&:hover{
				background: #efefef;
			}
		}
		li.tabs-second a{
			background: #fff;
			color:#212121;
			&:hover{
				background: #efefef;	
			}
		}
		li.tabs-title{
			width: 50%;
			a{
				font-size: 1.25rem;
				@media #{$small-only} {
					font-size: 0.75rem;
				}
			}
		}
	}
}

#meet-panel{
	.thumbnail{
		max-width: rem-calc(297);
		width: 100%;
	}
}

// ACCORDION GROUP

.accordion-group{
	margin-top: 10vh;
	margin-bottom: 10vh;
	.menu.nested {
		margin-left:0;
	}
}
.accordion-group ul.vertical.menu {
	border-bottom: 1px solid #bdbdbd;
}
.accordion-group ul.vertical.menu.nested {
	border-bottom: 0;
	@media #{$small-only} {
		margin:0;
	}
}
.accordion-group .menu.nested>li {
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
    display: flex;
    @media #{$small-only} {
	display: block;
    }
    width: 100%;
}

.accordion-group ul.vertical.menu>li>a {
    flex-direction: row;
    font-size: 1rem;
	padding: 1rem 1rem;
	border-top: 1px solid #bdbdbd;
	@media #{$small-only} {
	    	font-size: 0.9rem;
	    	//margin: 0.5rem;
	    }
}
.courseContainer{
	width: 100%;
	display: block !important;
	min-height: 300px;
	li{
		width: 32%;
	    height: auto;
	    margin-right: 1%;
	    padding: 1rem;
	    margin-bottom: 1rem;
	    border-top: 2px solid #212121;
	    background:#fff;
	    @media #{$medium-only} {
	    	width: 49%;
	    	margin-right: 1%;
	    }
	    @media #{$small-only} {
	    	width: 100%;
	    	//margin: 0.5rem;
	    }
		
		h3{
			font-size: 1.1875rem;
			font-weight: 600;
			color: #9E9E9E;
		}
		h4{
			font-size: 1.25rem;
			font-weight: 600;
			color: #212121;
		}
		p{
			color: #212121;
		}
	}
	// a:hover > li{
	// 	background: #eee;
	// }
}
.courseContainer:after{
	  content: '';
	  display: block;
	  clear: both;
}

#curriculum-accordion {
	ul.menu.is-active {
		margin-top:2rem;
	}
}

ul.menu.is-active {
	height: auto;
	// min-height: 500px;
}
li#courseFilter {
	background: none;
	padding:1rem 0 2rem 0;
	align-items: center;
	justify-content: center;
	@media #{$small-only} {
		display: flex;
	}
	a.current {
    	background: #ff5722;
    	color: #fff;
	}
	a {
	    background: #fff;
	    color:#ff5722;
	    font-size: 0.75rem;
	    padding: 1rem 2rem;
	    font-weight: 600;
	    border-bottom: 2px solid #ff5722;
	    border-top: 2px solid #ff5722;
	    @media #{$small-only} {
			padding: 1rem 0.75rem;
			justify-content: center;
    		align-items: center;
   			height: 4rem;
		}
	    &:last-of-type{
	    	border-radius: 0px 4px 4px 0px;
	    	-webkit-border-radius: 0px 4px 4px 0px; 
				-moz-border-radius: 0px 4px 4px 0px; 
				border-right: 2px solid #ff5722;
	    }
	    &:first-of-type{
	    	border-radius: 4px 0px 0px 4px;
	    	-webkit-border-radius: 4px 0px 0px 4px; 
				-moz-border-radius: 4px 0px 0px 4px; 
				border-left: 2px solid #ff5722;
	    }
	}
}


div.accordion-content{
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
}


// ul.accordion > li.accordion-group-tab.accordion-item {

	a.accordion-title{
		border-left: 0 !important;
		border-right: 0 !important;
		color: $black !important
	}
	a.accordion-title:hover, a.accordion-title:focus{
		background-color: $white !important;
	}
// }







