---
layout: exhibition
---
  <div class="card">
    <div class="card-image">
      <img src="http://flickholdr.com/200/300/sea,sun" alt="" />
      <span class="card-title">{{ content.title }}</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      {{ content }}
    </div>
    <div class="card-action">
      <a href="#">This is a link</a>
    </div>
  </div>
