---
layout: default
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->
<div class="svg-header isolate">
    <!-- TOP BAR -->
    
    {% include top-bar.html %}
    <!-- END TOP BAR -->
    <!-- PROGRAM MARK -->
    <div class="row header-content hide-for-small-only">
        <!-- <div class="small-6 small-push-6 columns center">
          <h1 class="logomark"><span>SIGGRAPH</span> <span>Student</span> <span>Services</span></h1>
        </div> -->
        <div class="small-12 center columns">
          <a class="right masthead" href="{{ site.baseurl }}/"><img class="logo" alt="SIGGRAPH S3" src="{{site.baseurl}}/assets/img/s3-logo-1.png"/></a>
        </div>
    </div>
    <!-- END ROW -->
  </div>
  <!-- END SVG HEADER -->
  
  <!-- REQUEST ROW -->
  <div>
    {% assign callouts = (site.front-page-callouts | reverse | where: "published", true ) %}
    {% if page.enable-callouts == true and callouts.size > 0 %}
        {% for callout in callouts %}
            
                {% capture callout_title %}{{callout.title}}{% endcapture %}
                {% capture callout_text %}{{callout.text}}{% endcapture %}
                {% capture callout_enable_button %}{{callout.enable-button}}{% endcapture %}
                {% capture callout_button_text %}{{callout.button-text}}{% endcapture %}
                {% capture callout_button_url %}{{callout.button-url}}{% endcapture %}
                {% include front-page-callout.html callout_title=callout_title callout_text=callout_text callout_enable_button=callout_enable_button callout_button_text=callout_button_text callout_button_url=callout_button_url %}
            
        {% endfor %}
    {% endif %}
    {% assign featured_events = (site.events | where: "featured", true ) %}
    {% if page.enable-featured-events == true and featured_events.size > 0 %}
      {% assign content_columns = 2 %}
    {% endif %}
  
    <div class="row request-callout" id="program">
      {% if content_columns == 2 %}
      
          <div class="small-12 medium-push-1 medium-6 large-push-1 large-5 columns">
            <h2 class="callout-heading">{{ page.program_heading }}</h2>
            {% include mission-statement.html %}  
            {% include vr-image-viewer.html %}
          </div>
  
  
          <div class="small-12 medium-push-1 medium-4 large-push-2 large-4 columns">
            {% assign events = (site.events | reverse) %}
            {% for event in events %}
            {% if event.featured == true %}
            {% capture featured_title %}{{event.title}}{% endcapture %}
            {% capture featured_text %}{{event.description}}{% endcapture %}
            {% capture featured_class %}{{event.class}}{% endcapture %}
            {% capture featured_image %}{{event.img-url}}{% endcapture %}
            {% include featured-card.html featured_class=featured_class featured_image=featured_image featured_title=featured_title featured_text=featured_text %}
            {% endif %}
            {% endfor %}
          </div>
            
  
      {% else %}
        
        <div class="small-12 medium-push-1 medium-10 large-push-2 large-8 columns">
          <h2 class="callout-heading">{{ page.page-heading }}</h2>
          {% include mission-statement.html %}  
          {% include vr-image-viewer.html %}
        </div>
  
  
      {% endif %}
      
    </div>
    
  
  
  
  
  </div> 
  <div class="" id="future">
    <div class="row">
      <!-- <div class="small-12 medium-push-1 medium-10 large-push-2 large-8 columns">
        <h2 class="callout-heading">{{ page.future_heading }}</h2>
        <p>SIGGRAPH S3 Information.</p>
      </div> -->
    
      <div class="small-12 medium-push-1 medium-10 large-push-2 large-8 columns">
        <!-- <h3>Register today</h3> -->
        <div class="center-align">
        <a href="{{ site.baseurl }}/programs/" class="large button">See all S3 programs <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>