---
layout: default
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->

{% include top-bar.html %}
{% if page.enable-default-header == true%}
<div class="svg-header isolate">
    <div class="row header-content">
        <div class="small-12 center columns">
          <a class="right masthead" href="{{ site.baseurl }}/"><img class="logo" alt="SIGGRAPH S3" src="{{site.baseurl}}/assets/img/s3-logo-1.png"/></a>
        </div>
    </div>
  </div>
  {% endif %}
  <!-- END SVG HEADER -->
  
  <!-- ORBIT SLIDER -->

  {% assign slider_items = (site.events | reverse | where: "enable-featured-banner", "true" ) %}
  {% include orbit-slider.html slides=slider_items label="Featured Events" %}
        
  <div>
    {% assign callouts = (site.front-page-callouts | reverse | where: "enabled", true ) %}
    {% if page.enable-callouts == true and callouts.size > 0 %}
        {% for callout in callouts %}
            
                {% capture callout_title %}{{callout.title}}{% endcapture %}
                {% capture callout_text %}{{callout.text}}{% endcapture %}
                {% capture callout_enable_button %}{{callout.enable-button}}{% endcapture %}
                {% capture callout_button_text %}{{callout.button-text}}{% endcapture %}
                {% capture callout_button_url %}{{callout.button-url}}{% endcapture %}
                {% include front-page-callout.html callout_title=callout_title callout_text=callout_text callout_enable_button=callout_enable_button callout_button_text=callout_button_text callout_button_url=callout_button_url %}
            
        {% endfor %}
    {% endif %}
    {% assign featured_events = (site.events | where: "enable-featured-card", true ) %}
    {% if page.enable-featured-events == true and featured_events.size > 0 %}
      {% assign content_columns = 2 %}
    {% endif %}
  <div class="row expanded head-spacing foot-spacing">
      <div class="columns small-6 large-4 large-push-2 conference center">
        <a class="center" title="SIGGRAPH Conference" href="https://www.siggraph.org/current-conference" href="https://www.siggraph.org/current-conference"><img class="center-align" style="border: none;" src="http://media.siggraph.org/promo/siggraph-badge.gif" src="http://media.siggraph.org/promo/siggraph-badge.gif" alt="SIGGRAPH" width="160" height="64" /></a>
      </div>
      <div class="columns small-6 large-4  large-push-2 asia-conference center">
       <a class="center" title="SIGGRAPH Asia Conference" href="https://www.siggraph.org/current-asia-conference" href="https://www.siggraph.org/current-asia-conference"><img class="center-align" style="border: none;" src="http://media.siggraph.org/promo/siggraph-asia-badge.gif" src="http://media.siggraph.org/promo/siggraph-asia-badge.gif" alt="SIGGRAPH Asia" width="160" height="64" /></a>
      </div>
  </div>
  <hr>
    <div class="row">
      {% if content_columns == 2 %}
      
          <div class="small-12 medium-push-1 medium-6 large-push-1 large-5 columns">
            <h2 class="callout-heading">{{ page.text-heading }}</h2>
            {% include mission-statement.html %}  
            {% include vr-image-viewer.html %}
          </div>
  
  
          <div class="small-12 medium-push-1 medium-4 large-push-2 large-4 columns">
            {% assign events = (site.events | reverse) %}
            {% for event in events %}
            {% if event.enable-featured-card == true %}
            {% capture featured_title %}{{event.title}}{% endcapture %}
            {% capture featured_text %}{{event.description}}{% endcapture %}
            {% capture featured_class %}{{event.class}}{% endcapture %}
            {% capture featured_image %}{{event.card-img-url}}{% endcapture %}
            {% capture featured_url %}{{event.url}}{% endcapture %}
            {% include featured-card.html featured_class=featured_class featured_image=featured_image featured_title=featured_title featured_text=featured_text featured_url=featured_url %}
            {% endif %}
            {% endfor %}
          </div>
            
  
      {% else %}
        
        <div class="small-12 medium-push-1 medium-10 large-push-2 large-8 columns">
          <h2 class="callout-heading">{{ page.text-heading }}</h2>
          {% include mission-statement.html %}  
          
        </div>

      {% endif %}
      
    </div>
  </div> 
<hr> 
<div class="row">
    <div class="small-12 medium-push-1 medium-10 large-push-2 large-8 columns">
    <div class="center-align">
    <a href="{{ site.baseurl }}/programs/" class="large button call-to-action-btn animated-bg">See all S3 programs <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    </div>
</div>
