name: Build and Deploy

on:
  push:
    branches: [master]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Install dependencies
        run: bundle install
      - name: Build Jekyll
        run: bundle exec jekyll build --config=_config.yml,_config-prod.yml
      - name: Build SSH credentials and rsync data to the server
        env:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
          ACM_SERVER_ADDRESS: ${{secrets.ACM_SERVER_ADDRESS}}
          ACM_SERVER_USER: ${{secrets.ACM_SERVER_USER}}
          DEPLOY_PATH: ${{secrets.DEPLOY_PATH}}
        run: |
          eval $(ssh-agent -s) && echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
          rsync -e "ssh -o StrictHostKeyChecking=no" -rvzh ./_site  $ACM_SERVER_USER@$ACM_SERVER_ADDRESS:$DEPLOY_PATH
